<header class="w3-theme-l4 w3-display-container w3-wide w3-padding" id="home">
    <h1><%= t("views.layouts.header.title") %></h1>
    <p><%= t("views.layouts.header.subtitle") %></p>
    <div class=" w3-tag w3-margin w3-theme w3-display-topright"><%= "Admin" if current_user&.admin? %></div>
</header>