<header class="w3-display-container w3-wide w3-padding" id="home">
    <h1>Rails App Title</h1>
    <p>Rails App subtitle</p>
    <div class=" w3-tag w3-margin w3-theme w3-display-topright"><%= "Admin" if current_user&.admin? %></div>
</header>